@import "tailwindcss";

:root {
  --primary-color: #083b5a;
  --primary-color-opaque:  rgba(8, 59, 90, 0.95);
  --background-color: #F4F6F8;
  --secondary-color:  #2F5D8A;
  --secondary-color-opaque:  rgba(47, 93, 138, 0.9);
  --accent-color: #5B8FB9;
  --text-primary-color-light: white;
  --text-primary-color-dark: #1F2933;
  --text-secondary-color: #6B7280;
}

body {
  background-color: var(--background-color);

  header {
    background-color: var(--primary-color);

    nav span a {
      color: var(--text-primary-color-light);
      border-bottom: 3px var(--primary-color) double;
      transition: border-bottom-color linear 0.2s;

      &:hover{
        border-bottom-color: var(--header-color);
      }
    }
  }

  main {

    h3 {
      font-weight: bold;
      font-size: 22px;
      text-decoration: underline;
    }

    section {
      color: var(--text-primary-color-dark);
      padding: 80px 20px;
        
      h1 {
        margin-top: 15vh;
        font-size: 30px;
        color: var(--text-primary-color-light);
        background-color: var(--primary-color-opaque);
      }

      .heroText {
        color: var(--text-primary-color-light);
        background-color: var(--primary-color-opaque) !important;

        h1 {
          margin-top: 0 !important;
        }

        p{
          margin-bottom: 0 !important;
        }
      }

      .heroText+.briefingButton {
        bottom: 10vh;
      }

      .briefingButton{
        color: var(--text-primary-color-light);
        background-color: var(--secondary-color) !important;
        outline: none;
        font-size: 20px;
        font-weight:bold;
        border: solid 2px rgba(0,0,0,0.2);
        border-radius: 6px;
        cursor: pointer; 
        padding: 10px;
        transition: transform 0.5s ease-in-out;

        &:hover{
          transform: scale(1.05);
        }
      }

      h2 {
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 20px;
      }

      ul {
        padding-left: 40px;
        list-style-type: disc;

        li {
          width: fit-content;
        }
      }

      ul, p, a{
        font-size: 20px;
        margin-bottom: 15px;
      }

      p, ul{
        max-width: 700px;
      }

      a {
        color: var(--text-secondary-color);
      }

      .cardDiv {
        background-color: var(--accent-color) !important;
        
        p {
          font-weight: bold !important;
          font-size: 18px;
          margin-bottom: 0px !important;
        }
      }

      &:nth-child(3n+4) {
        h2{
          text-align: right;
        }
        p, ul{
          margin-left: auto;
        }
      }
      &:nth-child(3n+2) {
        h2 {
          text-align: center;
        }
        p, ul, li{
          text-align: center;
          margin: auto;
        }
      }
    }
  }

  dialog {
    background-color: var(--secondary-color-opaque);
    border: 3px solid var(--primary-color);
    
    h3{
      color: var(--text-primary-color-light) !important; 
    }

    #closeButton{
      color: var(--text-primary-color-light) !important; 
    }

    form {
      label{
        font-weight: bold;
        color: var(--text-primary-color-light); 
      } 

      input{
        width: 200px;
      }

      textarea, select{
        width: 250px;
      }

      select{
        cursor: pointer;

        option:hover{
          background-color: rgba(0,0,0,0.5);
        }
      }

      input, textarea, select{
        color: var(--text-primary-color-light); 
        font-size: 15px;
        padding: 1px 3px;
        display: block;
        border-radius: 5px;
        background-color: var(--accent-color);
        border: 2px solid var(--primary-color);
        margin: 10px auto;
        resize: none;

        &:focus{
          outline: none;
        }
      }

      #submitButton{
        border: 2px solid var(--primary-color) !important;
        background-color: var(--secondary-color);
        color: var(--text-primary-color-light); 
      }

    }

  }
  
  footer {
    background-color: var(--primary-color);

    p {
      color: var(--text-primary-color-light);
      font-size: 15px;

      a {
        border-bottom: 3px var(--primary-color) double;
        transition: border-bottom-color linear 0.2s;

        &:hover{
          border-bottom-color: white;
        }
      } 
    }
  }
}

@media only screen and (max-width: 700px) {
  body main section { 
    h1 {
      margin-top: 70px;
      font-size: 26px;
    }

    .heroText+.briefingButton{
      bottom: 10vh;
    }
    
    .briefingButton{
     font-size: 15px; 
    }

    h2 {
      font-size: 32px;
    }
    
    ul, p, a{
      font-size: 15px;
      margin-bottom: 15px;
    }

    
    .cardDiv p {
      font-size: 14px;
    }
  }
}