@import "tailwindcss";

:root {
  --primary-color: #083b5a;
  --secondary-color: rgb(243, 254, 251);
  --card-color: rgb(105, 224, 169);
}

body {
  header nav span a {
    color: white;
    border-bottom: 3px #083b5a double;
    transition: border-bottom-color linear 0.2s;

    &:hover{
      border-bottom-color: white;
    }
  }

  main{
    h3 {
      font-weight: bold;
      font-size: 22px;
      text-decoration: underline;
    }

    section {
      padding: 80px 20px;

      h2 {
        font-weight: bold;
        font-size: 50px;
        margin-bottom: 20px;
      }

      ul {
        padding-left: 40px;
        list-style-type: disc;
      }

      ul, p, a{
        font-size: 20px;
        margin-bottom: 15px;
      }

      p {
        max-width: 60vw;
      }

      &:nth-child(odd){
        background-color: var(--secondary-color);
      }

      #heroDiv p{
        margin-bottom: 0 !important;
      }

      #cardDiv p {
        font-weight: bold !important;
        font-size: 18px !important;
        margin-bottom: 0px !important;
      }
    }
  }

  form {
    label{
      font-weight: bold;
    }    
    input, textarea, select{
      display: block;
      width: 200px;
      background-color: white;
      border-radius: 5px;
      border: 2px solid rgba(0,0,0,0.2);
      margin: 10px auto;
      resize: none;

      &:focus{
        outline: none;
      }
    }
  }

  footer p {
    font-size: 15px;

    a {
      color: white;
      border-bottom: 3px #083b5a double;
      transition: border-bottom-color linear 0.2s;

      &:hover{
        border-bottom-color: white;
      }
    } 
  }

  .expandOnHover{
    transition: transform 0.5s ease-in-out;

    &:hover{
      transform: scale(1.05);
    }
  }
}
